<div class="container">      
    <table class="table table-striped">
      <thead>
        <tr class="tbheader">
          <th>Comments</th>
          <th>Vote Count</th>
          <th>UpVote</th>
          <th>News Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of feed;" >
          <ng-container *ngIf="item.isVisible">
          <td>{{item.num_comments}}</td>
          <td>{{item.upVote}}</td>
          <td><div class="upVoteIcon" (click)="onUpVoteClick(item)"></div></td>
          <td>
            <div class="newsDetails"><div (click)="openUrl(item.story_url)">{{item.story_title}} </div>
            &nbsp;
            <small class="subTextLight"> ({{item.hostname}}) by <span class="subTextBold">{{item.author}} </span>
            {{item.created_at}} [ <span class="subTextBold" (click)="onHideClick(item)">hide</span> ]</small></div>
          </td>
        </ng-container>
        </tr>
      </tbody>
    </table>
    <div style="float:right;color:orange;font-weight: 600;"><span (click)="onPrevClick()">Previous</span>|<span (click)="onNextClick()">Next</span></div>
    <app-up-vote-chart [pageNumber]="page"></app-up-vote-chart>
  </div>